@import "tailwindcss";

* {
  overflow: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  transition: all ease .5s;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(156, 156, 156);
  font-weight: 900;
  user-select: none;
}

button:hover,
img:hover {
  cursor: pointer;
}
